@import url(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

:root {
  --fontFamily01: 'Poppins', sans-serif;
  --fontFamily02: 'PT Serif', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily01);
}

footer {
  font-size: small;
  margin: 5em auto;
  text-align: center;
}

h1,
.portrait::before {
  font-family: var(--fontFamily02);
}

h1 {
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
}

h2 {
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 370px;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.sub-header {
  padding: 0 1em 2em;
  width: 100%;
  font-size: 1.125em;
}

.team-container {
  margin: 0 auto;
  max-width: 350px;
}

.team-container > div {
  margin: 0 auto 2em;
}

.portrait {
  position: relative;
  margin: 0 1rem;
  width: 200px;
}

.portrait::before,
.portrait::after {
  position: absolute;
}

.portrait::before {
  content: attr(data-position);
  font-size: 0.75em;
  text-transform: uppercase;
  top: 0;
  left: 200px;
  transform: rotate(90deg) translateY(50%);
  transform-origin: 10% 120%;
  width: 100%;
}

.portrait::after {
  content: attr(data-name);
  font-size: 1.125em;
  font-weight: 700;
  top: 100%;
  left: 0;
}

@media screen and (min-width: 375px) {
  .team-container {
    display: flex;
    flex-wrap: wrap;
  }

  .team-container > div:nth-child(odd) {
    align-self: flex-start;
    margin-bottom: 5em;
  }

  .team-container > div:nth-child(even) {
    align-self: flex-end;
    margin-bottom: 2em;
  }

  .portrait {
    width: 138px;
  }

  .portrait::before {
    left: 138px;
    transform-origin: 10% 100%;
  }
}

@media screen and (min-width: 780px) {
  .content {
    max-width: 1024px;
  }

  .header {
    width: 85%;
    margin: 4em auto;
    display: flex;
    justify-content: space-around;
  }

  .header > h1,
  .sub-header {
    margin: 0;
    padding: 0;
  }

  .header > h1 {
    display: inline-block;
  }

  .sub-header {
    display: inline-block;
    max-width: 370px;
  }

  .team-container {
    max-width: 670px;
    justify-content: space-between;
  }

  .team-container > div:nth-child(2n + 1) {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
  }

  .team-container > div:nth-child(3n + 2) {
    align-self: flex-start;
    margin-top: 5em;
    margin-bottom: 1em;
    margin-right: 4em;
    margin-left: 4em;
  }

  .team-container > div:nth-child(2n + 4) {
    align-self: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
