@import url(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

:root {
  --fontFamily01: 'Poppins', sans-serif;
  --fontFamily02: 'PT Serif', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily01);
}

h1,
.portrait::before {
  font-family: var(--fontFamily02);
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

.portrait::before {
  font-size: 0.75em;
  text-transform: uppercase;
}

.portrait::after {
  font-size: 1.125em;
  font-weight: 700;
}

.portrait::after {
  content: attr(data-text);
}
